{% extends 'base.html' %} 

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Students</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          
          <div class="card-header">
            <div class="card-title">List of Students</div>
            <div class="card-category">Page Subtitle</div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'student-list' %}">
                  <div class="input-group">
                    <input type="text" placeholder="Search..." class="form-control" name="q" value="{{ request.GET.q }}" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="la la-search search-icon"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <div class="pull-right">
                  <a href="{% url 'student-add' %}" class="btn btn-success btn-rounded">Add Student</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-body">
            
            <div class="row mb-3">
              <div class="col-md-12">
                <form method="get" class="row g-2 align-items-center">
                  {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                  {% endif %}
                  
                  <div class="col-auto">
                    <label for="smallSelect" class="col-form-label">Sort by</label>
                  </div>
                  <div class="col-auto">
                    <select class="form-control form-control-sm" id="smallSelect" name="sort_by">
                      <option value="lastname" {% if request.GET.sort_by == "lastname" %}selected{% endif %}>Last Name</option>
                      <option value="firstname" {% if request.GET.sort_by == "firstname" %}selected{% endif %}>First Name</option>
                    </select>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-sm btn-rounded">Sort</button>
                  </div>
                </form>
              </div>
            </div>
            
            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th>Record</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                <tr>
                  <td>{{ object }}</td>
                  <td>
                    <a href="{{ object.id }}/">Edit</a>
                    &nbsp;
                    <a href="{{ object.id }}/delete/" class="text-danger">Delete</a>
                  </td>
                </tr>
                {% empty %}
                <tr><td colspan="2" style="text-align:center;">No Records Found</td></tr>
                {% endfor %}
              </tbody>
            </table>

            {% include 'includes/pagination.html' %}
          </div>
        </div> 
      </div>
    </div>

  </div>
</div>
{% endblock %}